body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}

#header-nav {
  background-color: #a8f594;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding: 25px;
}
.navbar-brand h1 {
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header {margin-bottom:20px;}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  margin-top: 20px;
  margin-bottom: 0px;
  float: right;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #efd7d7;
  border-top: 0;
}

#dummy-text {background:#ccc; padding:20px;	}
#dummy-text h3 {margin-top:0px; margin-bottom:15px;}

#collapsable-nav {padding:0px;}
#collapsable-nav #nav-list {margin:0px; border-top:1px solid #000;}
#collapsable-nav #nav-list li {border-bottom:1px solid #000;}

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {
  #collapsable-nav a {
    font-size: 1.2em;
  }
}